<h1 class="text-center mb-4 display-4"> Welcome to Product App</h1>

<div class="container">
  <div class="card d-flex justify-content-center align-items-center">
    <div class="card-body">
      <h2 class="text-center mb-4 display-4"> User Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="username">Username:</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
          />
          <span
            *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
            class="text-danger"
          >
            Username is required.
          </span>
        </div>

        <div>
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
          <span
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            class="text-danger"
          >
            Password is required.
          </span>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>

